.num_data{
    width:100%;
    height:30px;
    font-size: 14px;
}
.data_bar{
    width:50%;
    display:inline-block;
}
.num{
    color: #c7000d;
    margin-right:35px;
}
.block{
    display:inline-block;
}
.border-bottom{
    border-bottom: 1px solid #eee;
}
.border-right{
    border-right:1px solid #eee;
}
.border-top{
    border-top:1px solid #eee;
}
.float-right{
    float:right;
}
.full-wid{
    width:100%
}